<h4>Con ayuda del mouse seleccione el cuadro que tenga un color diferente</h4>
<br>
<div class="grid2x2">
  <div  id="1" class="box box1" >
    <div  [className]="1 == select ? 'content-div': 'content-div selected'" (click)="clickBox(1)"></div>
  </div>
  <div  id="2" class="box box1" >
    <div [className]="2 == select ? 'content-div': 'content-div selected'" (click)="clickBox(2)"></div>
  </div>
  <div  id="3" class="box box1" >
    <div [className]="3 == select ? 'content-div': 'content-div selected'" (click)="clickBox(3)"></div>
  </div>
  <div  id="4" class="box box1" >
    <div [className]="4 == select ? 'content-div': 'content-div selected'" (click)="clickBox(4)"></div>
  </div>
  <div  id="5" class="box box1" >
    <div [className]="5 == select ? 'content-div': 'content-div selected'" (click)="clickBox(5)"></div>
  </div>
  <div  id="6" class="box box1">
    <div [className]="6 == select ? 'content-div': 'content-div selected'"  (click)="clickBox(6)"></div>
  </div>
  <div  id="7" class="box box1" >
    <div [className]="7 == select ? 'content-div': 'content-div selected'" (click)="clickBox(7)"></div>
  </div>
  <div  id="8" class="box box1" >
    <div [className]="8 == select ? 'content-div': 'content-div selected'" (click)="clickBox(8)"></div>
  </div>
  <div  id="9" class="box box1">
    <div [className]="9 == select ? 'content-div': 'content-div selected'"  (click)="clickBox(9)"></div>
  </div>
</div>